In [2]:
import pandas as pd
import csv
import time 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from selenium.webdriver import ActionChains
from selenium.webdriver.chrome.options import Options
from time import sleep

In [3]:
df = pd.read_csv('takefromcleanlist.csv')

In [4]:
df

                                                    Link
0      https://www.grailed.com/listings/40268972-nike...
1      https://www.grailed.com/listings/40331520-nike...
2      https://www.grailed.com/listings/40317733-nike...
3      https://www.grailed.com/listings/40094186-jord...
4      https://www.grailed.com/listings/36997890-nike...
...                                                  ...
72675  https://www.grailed.com/listings/30658222-calv...
72676  https://www.grailed.com/listings/29495878-calv...
72677  https://www.grailed.com/listings/30348657-calv...
72678  https://www.grailed.com/listings/28015535-calv...
72679  https://www.grailed.com/listings/30262973-calv...

[72680 rows x 1 columns]

In [13]:
df_test = df[2788:5000]
df_test

                                                   Link
2788  https://www.grailed.com/listings/38465084-dick...
2789  https://www.grailed.com/listings/39543378-supr...
2790  https://www.grailed.com/listings/38778352-supr...
2791  https://www.grailed.com/listings/38592224-nike...
2792  https://www.grailed.com/listings/39832617-supr...
...                                                 ...
4995  https://www.grailed.com/listings/36994310-hand...
4996  https://www.grailed.com/listings/40227425-polo...
4997  https://www.grailed.com/listings/39481888-polo...
4998  https://www.grailed.com/listings/36995054-polo...
4999  https://www.grailed.com/listings/39269845-polo...

[2212 rows x 1 columns]

In [14]:

# empty lists for all the information I want to gather
UserName = []
Designer = []
SubTitle = []
Size = []
Color = []
Condition = []
Category_1 = []
Category_2 = []
Category_3 = []
FeedbackCount = []
Price = []
Description = []
NumImages = []
Score = []
Transaction = []


# looping through all the links in ItemLinks
options = Options()
options.add_argument("user-data-dir=/tmp/tarun")
##driver = webdriver.Chrome('data/chromedriver', chrome_options=options)
driver = webdriver.Chrome(executable_path=r'/Users/kurtcheng/Downloads/chromedriver_mac_arm64/chromedriver')

for link in df_test['Link']:
    try:
        driver.get(link)
    except:
        continue
    
    # gathering item designer name
    try:
        designer=driver.find_elements_by_class_name("Designers_designer__IQlyA")
        if len(designer)>=2:
            Designer.append(f'{designer[0].text} x {designer[1].text}') # if the item is a colloboration between designers
        else:
            Designer.append(designer[0].text)
    except:
        Designer.append("")
    
    # gathering item sub-title
    try:
        sub_title=driver.find_element_by_xpath("//*[@class='MainContent_item__2IyTc MainContent_itemLeftColumn__1RFaO']/h1").text
        SubTitle.append(sub_title)
    except:
        SubTitle.append("")
    
    # gathering poster's username
    try:
        user_name=driver.find_element_by_xpath('/html/body/div[1]/div/main/div[2]/div[1]/div[2]/div[2]/div[2]/div[2]/div/div[2]/div/div[1]/a/span').text
        UserName.append(user_name)
    except:
        UserName.append("")
    
    # gathering poster's feedback count
    try:
        feedback_count=driver.find_element_by_xpath('//*[@id="__next"]/div/main/div[2]/div[1]/div[2]/div[2]/div[2]/div[2]/div/div[2]/div/a/span').text
        x = feedback_count.split(" ")
        trans = int(x[0])
        FeedbackCount.append(trans)
    except:
        FeedbackCount.append("") 
    
    # gathering item size, color and condition
    try:
        size_color_condition=driver.find_elements_by_class_name('Details_value__2rDQU')
        if len(size_color_condition)==3:
            Size.append(size_color_condition[0].text)
            Color.append(size_color_condition[1].text)
            Condition.append(size_color_condition[2].text)
        else:
            Size.append("")
            Color.append("")
            Condition.append("")
    except:
        Size.append("")
        Color.append("")
        Condition.append("")
        
      
    # gathering the sold price of the item
    try:
        item_price=driver.find_element_by_xpath("//*[@data-testid='Current']").text
        x = item_price.split(" ")
        trans = x[0]
        price = int(trans.split("$")[1])
        Price.append(price)
    except:
        Price.append('')
    
    # gathering the description of the item
    try:
        item_description=driver.find_element_by_xpath("//*[@class='SimpleFormat ListingPage-Description-Body']").text
        Description.append(item_description)
        
    except:
        Description.append("")    
    
    # gathering the total number of images for the item
    try:
        num_images=driver.find_elements_by_xpath("//*[@class='Thumbnails_thumbnail__3exa6 PhotoGallery_thumbnails__3uCki']")
        total_num = len(num_images) + 1
        NumImages.append(total_num)
    except:
        NumImages.append(0)
    
    # gathering the category of the item
    try:
        cat_1 = driver.find_element(By.CSS_SELECTOR, "#__next > div > main > div.LayoutContainer_layoutContainer__1Y8N5.LayoutContainer_responsiveGutter__2pzU9 > nav.Breadcrumbs_breadcrumbs__3w6o0.Breadcrumbs_nonMobile__Hnl_d > ol > li:nth-child(2) > a").text
        Category_1.append(cat_1)
         
    except:
        Category_1.append("")  
    
    # gathering the category of the item
    try:
        cat_2 = driver.find_element(By.CSS_SELECTOR, "#__next > div > main > div.LayoutContainer_layoutContainer__1Y8N5.LayoutContainer_responsiveGutter__2pzU9 > nav.Breadcrumbs_breadcrumbs__3w6o0.Breadcrumbs_nonMobile__Hnl_d > ol > li:nth-child(3) > a").text
        Category_2.append(cat_2)
         
    except:
        Category_2.append("")  
        
    # gathering the category of the item
    try:
        cat_3 = driver.find_element(By.CSS_SELECTOR, "#__next > div > main > div.LayoutContainer_layoutContainer__1Y8N5.LayoutContainer_responsiveGutter__2pzU9 > nav.Breadcrumbs_breadcrumbs__3w6o0.Breadcrumbs_nonMobile__Hnl_d > ol > li:nth-child(4) > a").text
        Category_3.append(cat_3)
         
    except:
        Category_3.append("")   
        
    # gathering the rating of the seller
    try:
        rate = []
        for a in range(5):
            num = a+1
            target = '#__next > div > main > div.LayoutContainer_layoutContainer__1Y8N5.LayoutContainer_responsiveGutter__2pzU9 > div.MainContent_mainContent__1_Cz4 > div.MainContent_sidebar__1cDM9 > div.collapsibleDetails._collapsed > div.-collapsible-content._collapsed > div:nth-child(2) > div > div.ListingSellerCard_detailsAndButton__1nVeP > div > a > div > span:nth-child({}) > svg > path'.format(num)
            link = driver.find_element(By.CSS_SELECTOR, target)
            rate.append(int(link.get_attribute("fill-opacity")))
        Score.append(sum(rate))
    
    except:
        Score.append("")
        
   # gathering the total transactions of the seller
    try:
        transactions = driver.find_element_by_xpath("/html/body/div[1]/div/main/div[2]/div[1]/div[2]/div[2]/div[2]/div[2]/div/div[2]/div/div[2]/span[1]").text
        Transaction.append(int(transactions.split(' ')[0]))
        
    except:
        Transaction.append("")
        
        
        
# saving the final df
item_desc = pd.DataFrame(
    {'username': UserName,
     'sold_price': Price,
     'designer' : Designer,
     'score' : Score,
     'transaction' : Transaction,
     'category_1' : Category_1,
     'category_2' : Category_2,
     'category_3' : Category_3,     
     'description': Description,
     'sub_title': SubTitle,
     'image_count' : NumImages,
     'size': Size,
     'color': Color,
     'condition': Condition,
     'feedback_count' : FeedbackCount,
    })

In [15]:
item_desc

,username,sold_price,designer,score,transaction,category_1,category_2,category_3,description,sub_title,image_count,size,color,condition,feedback_count
0,Ducewayne,250,Dickies x Supreme,,7,Supreme Menswear,Supreme Bottoms,Supreme Overalls Jumpsuits,Brand New Never Worn.,Supreme Dickies Quilted Denim Coverall,2,Men's / US 32 / EU 48,Black,New,
1,BaylinW,115,Supreme,5,3,Supreme Menswear,Supreme Accessories,Supreme Supreme,One size fits all\nStock-x verified,Supreme dollar bill reflective beanie,3,ONE SIZE,Black,New,1
2,SupremeSticky,112,Supreme,5,1312,Supreme Menswear,Supreme Accessories,Supreme Supreme,15 boxes Supreme Kraft Macaroni and Cheese SS2...,Supreme lot of 15 max and cheese,3,ONE SIZE,Black,New,568
3,hypebeastllz,137,Nike x Supreme,5,42,Supreme Menswear,Supreme Tops,Supreme Sweatshirts Hoodies,"worn once for a photo, basically brand new. se...",Supreme x Nike brown striped hoodie,5,Men's / US M / EU 48-50 / 2,Brown,Gently Used,18
4,PicklePeanutButter,31,Supreme,5,9,Supreme Menswear,Supreme Accessories,Supreme Supreme,Julia fox supreme poster,Julia Fox supreme poster,2,ONE SIZE,Black,New,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2207,MalayanVantage,105,Handknit x Polo Ralph Lauren,5,224,Polo Ralph Lauren Menswear,Polo Ralph Lauren Tops,Polo Ralph Lauren Sweaters Knitwear,Vintage Polo Ralph Lauren Wool Knitted Sweater...,Vintage Polo Ralph Lauren Wool Knitted Sweater,13,Men's / US M / EU 48-50 / 2,Brown,Used,105
2208,gnarlyarchives,65,Polo Ralph Lauren x Streetwear,5,165,Polo Ralph Lauren Menswear,Polo Ralph Lauren Tops,Polo Ralph Lauren Sweaters Knitwear,Vintage 90s Polo Ralph Lauren Made in USA Full...,Vintage Polo Ralph Lauren Zip up,4,Men's / US L / EU 52-54 / 3,Red,Used,57
2209,jackFrass,54,Polo Ralph Lauren,5,6,Polo Ralph Lauren Menswear,Polo Ralph Lauren Bottoms,Polo Ralph Lauren Sweatpants Joggers,Slight worn / open to negotiation,Polo grey joggers,4,Men's / US 32 / EU 48,Grey,Used,2
2210,Zulgeolove,70,Polo Ralph Lauren x Vintage,5,1149,Polo Ralph Lauren Menswear,Polo Ralph Lauren Outerwear,Polo Ralph Lauren Bombers,CODE ITEM: J0232 (As a reference for the selle...,Vintage Polo Ralph Lauren Jacket,5,Men's / US L / EU 52-54 / 3,Black,Used,492
2211,thevintagenet,26,Polo Ralph Lauren x Streetwear,5,8,Polo Ralph Lauren Menswear,Polo Ralph Lauren Bottoms,Polo Ralph Lauren Sweatpants Joggers,Price: $19\nSize: Large on tag\nCondition: Use...,Polo Ralph Lauren Navy Sweatpants,6,Men's / US 34 / EU 50,Blue,Gently Used,3

In [16]:
item_desc.to_csv('2788_5000.csv', index=False)