In [3]:
import pandas as pd
import csv
import time 
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from selenium.webdriver import ActionChains
from selenium.webdriver.chrome.options import Options
from time import sleep

In [4]:
df = pd.read_csv('takefromcleanlist.csv')

In [14]:
df

                                                    Link
0      https://www.grailed.com/listings/40268972-nike...
1      https://www.grailed.com/listings/40331520-nike...
2      https://www.grailed.com/listings/40317733-nike...
3      https://www.grailed.com/listings/40094186-jord...
4      https://www.grailed.com/listings/36997890-nike...
...                                                  ...
72675  https://www.grailed.com/listings/30658222-calv...
72676  https://www.grailed.com/listings/29495878-calv...
72677  https://www.grailed.com/listings/30348657-calv...
72678  https://www.grailed.com/listings/28015535-calv...
72679  https://www.grailed.com/listings/30262973-calv...

[72680 rows x 1 columns]

In [17]:
df_test = df[0:2]
df_test

                                                Link
0  https://www.grailed.com/listings/40268972-nike...
1  https://www.grailed.com/listings/40331520-nike...

In [8]:


# empty lists for all the information I want to gather
UserName = []
Designer = []
SubTitle = []
Size = []
Color = []
Condition = []
Category_1 = []
Category_2 = []
Category_3 = []
FeedbackCount = []
Price = []
Description = []
NumImages = []




# looping through all the links in ItemLinks
options = Options()
options.add_argument("user-data-dir=/tmp/tarun")
##driver = webdriver.Chrome('data/chromedriver', chrome_options=options)
driver = webdriver.Chrome(executable_path=r'/Users/kurtcheng/Downloads/chromedriver_mac_arm64/chromedriver')

for link in df_test['Link']:
    try:
        driver.get(link)
    except:
        continue
    
    # gathering item designer name
    try:
        designer=driver.find_elements_by_class_name("Designers_designer__IQlyA")
        if len(designer)>=2:
            Designer.append(f'{designer[0].text} x {designer[1].text}') # if the item is a colloboration between designers
        else:
            Designer.append(designer[0].text)
    except:
        Designer.append("")
    
    # gathering item sub-title
    try:
        sub_title=driver.find_element_by_xpath("//*[@class='MainContent_item__2IyTc MainContent_itemLeftColumn__1RFaO']/h1").text
        SubTitle.append(sub_title)
    except:
        SubTitle.append("")
    
    # gathering poster's username
    try:
        user_name=driver.find_element_by_xpath('/html/body/div[1]/div/main/div[2]/div[1]/div[2]/div[2]/div[2]/div[2]/div/div[2]/div/div[1]/a/span').text
        UserName.append(user_name)
    except:
        UserName.append("")
    
    # gathering poster's feedback count
    try:
        feedback_count=driver.find_element_by_xpath('//*[@id="__next"]/div/main/div[2]/div[1]/div[2]/div[2]/div[2]/div[2]/div/div[2]/div/a/span').text
        x = feedback_count.split(" ")
        trans = int(x[0])
        FeedbackCount.append(trans)
    except:
        FeedbackCount.append("") 
    
    # gathering item size, color and condition
    try:
        size_color_condition=driver.find_elements_by_class_name('Details_value__2rDQU')
        if len(size_color_condition)==3:
            Size.append(size_color_condition[0].text)
            Color.append(size_color_condition[1].text)
            Condition.append(size_color_condition[2].text)
        else:
            Size.append("")
            Color.append("")
            Condition.append("")
    except:
        Size.append("")
        Color.append("")
        Condition.append("")
        
      
    # gathering the sold price of the item
    try:
        item_price=driver.find_element_by_xpath("//*[@data-testid='Current']").text
        x = item_price.split(" ")
        trans = x[0]
        price = int(trans.split("$")[1])
        Price.append(price)
    except:
        Price.append(null)
    
    # gathering the description of the item
    try:
        item_description=driver.find_element_by_xpath("//*[@class='SimpleFormat ListingPage-Description-Body']").text
        Description.append(item_description)
        
    except:
        Description.append("")    
    
    # gathering the total number of images for the item
    try:
        num_images=driver.find_elements_by_xpath("//*[@class='Thumbnails_thumbnail__3exa6 PhotoGallery_thumbnails__3uCki']")
        total_num = len(num_images) + 1
        NumImages.append(total_num)
    except:
        NumImages.append(0)
    
    # gathering the category of the item
    try:
        cat_1 = driver.find_element(By.CSS_SELECTOR, "#__next > div > main > div.LayoutContainer_layoutContainer__1Y8N5.LayoutContainer_responsiveGutter__2pzU9 > nav.Breadcrumbs_breadcrumbs__3w6o0.Breadcrumbs_nonMobile__Hnl_d > ol > li:nth-child(2) > a").text
        Category_1.append(cat_1)
         
    except:
        Category_1.append("")  
    
    # gathering the category of the item
    try:
        cat_2 = driver.find_element(By.CSS_SELECTOR, "#__next > div > main > div.LayoutContainer_layoutContainer__1Y8N5.LayoutContainer_responsiveGutter__2pzU9 > nav.Breadcrumbs_breadcrumbs__3w6o0.Breadcrumbs_nonMobile__Hnl_d > ol > li:nth-child(3) > a").text
        Category_2.append(cat_2)
         
    except:
        Category_2.append("")  
        
    # gathering the category of the item
    try:
        cat_3 = driver.find_element(By.CSS_SELECTOR, "#__next > div > main > div.LayoutContainer_layoutContainer__1Y8N5.LayoutContainer_responsiveGutter__2pzU9 > nav.Breadcrumbs_breadcrumbs__3w6o0.Breadcrumbs_nonMobile__Hnl_d > ol > li:nth-child(4) > a").text
        Category_3.append(cat_3)
         
    except:
        Category_3.append("")    
        
# saving the final df
item_desc = pd.DataFrame(
    {'username': UserName,
     'sold_price': Price,
     'designer' : Designer,
     'category_1' : Category_1,
     'category_2' : Category_2,
     'category_3' : Category_3,     
     'description': Description,
     'sub_title': SubTitle,
     'image_count' : NumImages,
     'size': Size,
     'color': Color,
     'condition': Condition,
     'feedback_count' : FeedbackCount,
    })

In [9]:
item_desc

,username,sold_price,designer,category_1,category_2,category_3,description,sub_title,image_count,size,color,condition,feedback_count
0,ThreepeatThrifting,165,Nike,Nike Menswear,Nike Footwear,Nike Low Top Sneakers,Nike Dunk Panda Low Size 10 Good Condtion\nOG ...,Nike Dunk Panda Low Size 10 Good Condtion,6,Men's / US 10 / EU 43,Black,Used,58
1,street_weather,89,Nike x Streetwear,Nike Menswear,Nike Outerwear,Nike Light Jackets,Size L\nCondition 8/10\nNeed washing,NIKE SHOX VINTAGE CENTER LOGO OVERSIZE ANORAK ...,7,Men's / US L / EU 52-54 / 3,White,Gently Used,5